<!DOCTYPE html>
<html>
<head>
	<title>Conexões Brasileiras</title>

  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" /><![endif]-->

	<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  <script charset="utf-8" src="connections.geojson"></script>

	<style>
		body {
			padding: 0;
			margin: 0;
		}
		html, body, #map {
			height: 100%;
		}
	</style>
</head>
<body>
	<div id="map"></div>

	<script>
		var map = L.map('map');
		


		L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery Â© <a href="http://cloudmade.com">CloudMade</a>'
		}).addTo(map);

		function onLocationFound(e) {
			var radius = e.accuracy / 2;

			L.marker(e.latlng).addTo(map)
				.bindPopup("You are within " + radius + " meters from this point").openPopup();

			L.circle(e.latlng, radius).addTo(map);
		}

		function onLocationError(e) {
      // alert(e.message);
		}
		
		function routing_link(coordinates){
		  a_x = coordinates[0][0];
		  a_y = coordinates[0][1];
		  b_x = coordinates[1][0];
		  b_y = coordinates[1][1];
		  return '<a target="_blank"  href="http://map.project-osrm.org/?hl=pt&loc='+a_y+','+a_x+'&loc='+b_y+','+b_x+'">OSRM</a>'
		}
		
		
    L.geoJson(connections, {
            style: function(feature) {
                if (feature.properties.ab_tortuous == 'yes'
                    || feature.properties.ba_tortuous == 'yes') {
                  return {color: "orange", weight: 2, opacity: 0.5};
                } else if (feature.properties.ab_connected == 'no'
                    || feature.properties.ba_connected == 'no') {
                  return {color: "red", weight: 4, opacity: 0.1};
                } else {
                  return {color: "green", weight: 1, opacity: 0.1};                  
                }
            },
            onEachFeature: function (feature, layer) {
              p = feature.properties;
              text = '<h3>Sobre esta conexão:</h3>'
              text += '<b>Cidade A</b>: ' + p.city_a_name + ' ('+p.city_a_uf+')' +'<br>'
              text +=  '<b>Cidade B</b>: ' + p.city_b_name + ' ('+p.city_b_uf+')' + '<br>'
              if (p.ab_connected == 'yes') {
                text += '<b>A</b> a <b>B</b>: ' + p.ab_route_distance + ' km'
                if (p.ab_tortuous == 'yes') {
                  text += ' (caminho tortuoso em '+p.ab_distance_ratio+'%!) <br>'
                } else {
                  text += ' <br>'                  
                }
              } else {
                text += '<b>A</b> a <b>B</b>: sem conexão!<br>'
              }
              if (p.ba_connected == 'yes') {
                text += '<b>B</b> a <b>A</b>: ' + p.ba_route_distance + ' km'
                if (p.ba_tortuous == 'yes') {
                  text += ' (caminho tortuoso em '+p.ba_distance_ratio+'%!) <br>'
                } else {
                  text += ' <br>'
                }
              } else {
                text += '<b>B</b> a <b>A</b>: sem conexão!<br>'
              }
              text += 'Ver esta rota: '+routing_link(feature.geometry.coordinates)
              layer.bindPopup(text);
            }
        }).addTo(map);

		map.on('locationfound', onLocationFound);
		map.on('locationerror', onLocationError);

    // map.locate({setView: true, maxZoom: 16});
    map.setView([-13.3,-54.9], 5);
	</script>
</body>
</html>
